<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @job_report.content %>
</p>

<%= link_to 'Edit', edit_job_report_path(@job_report) %> |
<%= link_to 'Back', job_reports_path %>
