.dashboard-item-list {
	margin-left: 0em !important;
	font-size: 14px;

	a {
		font-weight: 500;
	}

	table {
		margin-bottom: 0px;
	}

	tr {
		border-bottom-color: 2px solid black !important;
		vertical-align: middle;
	}

	tbody tr:hover {
  	color: #DB8F00;
  	cursor: pointer;
  	font-weight: 500;
		text-decoration: none;
	}
}

.dashboard-tile-large {
	@extend .jumbotron-small;
	height: 100%;
	min-height:13em;
}

.dashboard-tile-large-header {
}

.dashboard-tile-large-body {
	p {
		font-size: 20px;
	}

	table {
		font-size: 17px;
	}
}

.dashboard-tile-large-footer {
}

.dashboard-tile-small-header {
	text-align: center;
}

.dashboard-tile-small-body {
	p {
		font-size: 15px;
	}

	table {
		font-size: 14px;
	}
}

.dashboard-tile-small-footer {
}

.dashboard-tile-small {
	@extend .jumbotron-small;
	height: 100%;
	padding-left: 1em !important;
	padding-right: 1em !important;
	min-height: 11em;
}

.dashboard-jobs-count {
	text-align: center;
}

.dashboard-jobs-success {
	color: #459663;
}

.dashboard-jobs-alert {
	color: #AD4444;
}

.dashboard-jobs-timespan {
	text-align: center;
}

#dashboard-jobs-tile {
	padding-top: 1em;
}

#dashboard-summary-tile {
	padding-top: 1em;
	text-align: center;
}