

.device-information {
	@extend .jumbotron-small;
	padding: 							0.5em !important;
	margin-bottom: 				2em !important;

	p {
		font-size: 					16px;
	}
}

.device-unit {
	@extend .jumbotron-small;
	min-height:					inherit;
	font-size: 16px;
	overflow: hidden;

	h2 {
		margin-top: 0.2em;
	}
}

.device-measurement-tile-bak {
	min-width:					6em;
	max-width:					8em;
	margin-right:				1em;
	margin-left:				1em;
	margin-bottom:			0em;
	padding:						0em !important;
	float:							left;
	text-align:					center;
	background:					rgba(230, 230, 230, .90) !important;

	h3 {
		font-size:					0.9em;
		margin-top:					0em;
	}

	p {
		margin-left:				0em !important;
		float: center;
	}

	a {
		float: center;
	}
}

.device-measurement-tile {
	margin-right:				1em;
	margin-left:				1em;
	margin-bottom:			0em;
	margin-top:					1em;
	padding: 1em !important;
	text-align:					center;
	float:							center !important;
	background:					rgba(230, 230, 230, .90) !important;

	h3 {
		font-size:					0.9em;
		margin-top:					0em;
	}

	p {
		margin-left:				0em !important;
		float: center !important;
	}

	a {
		float: center !important;
	}
}

.device-measurement-group {
	padding-left: 30px !important;
	h2 {
		font-size:					1.3em;
		margin-bottom:			0em;
		float:							left;
	}

	a {
		float: 							right;
	}

	p {
		float:							left;
		margin-top:					0.4em;
		margin-left:				0.8em;
	}
}

.device-measurement-group-header {
	overflow: auto;
}


#device-chart {
	display: inline-block;
	width: auto !important;
	height: 400px;
}

#device-description {
	margin-bottom:				1em;
	border-bottom:				1px solid #e5e5e5;

	legend {
		text-align:					center;
		margin-bottom: 			0em;
		font-size:					26px;
	}

	span {
		line-height: 				3em;
		font-size: 					20px;
	}
}

#device-measurement-data {
	text-align:					center;
}
