// Place all the styles related to the Servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.server-information {
	@extend .jumbotron-small;
	padding: 							0.5em !important;
	margin-bottom: 				2em !important;

	p {
		font-size: 16px;
	}
}

.server-unit {
	@extend .jumbotron-small;
	margin-bottom: 			2%;
	overflow:						hidden;
	padding-left:				1.5em !important;
	padding-right:			1.5em !important;
	padding-top:				0.2em;
	padding-bottom:			1em;

	p {
		font-size: 16px;
	}

	h1 {
		font-size: 1.8em;
	}
}

.server-unit-jobs {
	@extend .server-unit;
	background:					rgba(193, 193, 245, .60) !important;
}

.server-unit-zfs {
	@extend .server-unit;
	background:					rgba(240, 231, 116, .60) !important;
}

.server-unit-zpool {
	@extend .server-unit;
	background: 				rgba(202, 243, 164, .60) !important;
}

.server-unit-zpool-status {
	margin-top: 10%;
	padding-bottom: 5%;

	i {
		font-size: 35px;
		line-height: 1em;
	}

	p {
		font-size: 14px;
	}
}

.server-unit-zpool-status-ok {
	background: 				rgba(186, 237, 148, .60) !important;
	text-align: center;
}

.server-unit-zpool-status-warn {
	background:					rgba(255, 152, 127, .60) !important;
	text-align: center;
}

.server-unit-zpool-list {
	margin-left: 0em !important;
	margin-top: 1em;
	font-size: 14px;

	a {
		font-weight: 500;
	}

	table {
		margin-bottom: 0px;
	}

	tr {
		border-bottom-color: 2px solid black !important;
		vertical-align: middle;
	}
}

.progress {
	@extend .progress;
	margin-bottom: 0em !important;
}


#server-navigation {
	border-bottom:			1px solid #e5e5e5;

	legend {
		text-align:					center;
		margin-bottom: 			0em;
		font-size:					26px;
	}

	span {
    line-height: 				3em;
		font-size: 					20px;
    text-align: center;
    margin: 5px;
    width: 100%;
	}
}

#server-description {
	margin-bottom: 				1em !important;
	margin-top: 				1em !important;
}


// ----------- ----------- ----------- ----------- ----------- ----------- ----------- JOBS

.job-information {
	@extend .jumbotron-small;
	padding: 							0.5em !important;
	margin-bottom: 				2em !important;

	p {
		font-size: 16px;
	}
}

.job-information-table-header {
	font-size: 14px;
	text-align: center;
}

.job-measurement-details {
	position: relative;
	height: 9em;
	border-left:1px solid #000;
	text-align: center;
}

.job-measurement-details-left {
	height: inherit;
	top: 15%;
}

.job-measurement-details-right {
	postition: absolute;
	top: 15%;
	height: inherit;
	margin-top: 0.5em;
	margin-bottom: 2.5em;
	margin-left: 4.2em;
}

.job-measurement-details-right a {
	margin-bottom: 1em;
	width: 5em;
}

.job-measurement-absent {
	postition: absolute;
	top: 50%;
	height: 4em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 3em;
}

.job-unit {
	@extend .jumbotron-small;
	overflow: hidden;
	font-size: 16px;

	padding-left:				1.5em !important;
	padding-top:				0.2em;
	padding-bottom:			1em;

	h2 {
		margin-top: 0.2em;
	}
}

#job-description {
	margin-bottom: 				1em !important;
	margin-top: 				1em !important;
}

#job-navigation {
	border-bottom:			1px solid #e5e5e5;

	legend {
		text-align:					center;
		margin-bottom: 			0em;
		font-size:					26px;
	}

	span {
    line-height: 				3em;
		font-size: 					20px;
    text-align: center;
    margin: 5px;
    width: 100%;
	}
}